---
layout: base
---

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">


      {{ content }}

      <div class="mastfoot">
        <div class="inner">
          <p>模板使用 Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
